<h2>Compra Registrada</h2>


<div>

    <div class="alert alert-success mt-4" role="alert">
        <h5>@ViewBag.msg</h5>
    </div>
    <a asp-action="Portal" asp-controller="ECommerce" class="btn-lg btn-success">Ir al Portal</a>


</div>
